.heading
{
    font-size: 23px;
    width: 80%;
    margin: 0px;
    box-shadow: 5px 5px 5px rgb(230, 71, 177);

}
.note
{
    color: red;
    font-size: 15px;
}
.copy_right_footer
{
    position: fixed;
    color: greenyellow;
    bottom: 0;
    width: 100%;
    background-color: black;
    line-height: 3;
    text-align: center;
}
canvas
{
    border: 5px solid pink;
    border-radius: 20px;
    box-shadow: 5px 5px 5px blue ;
} 